<%
#   Created: Jayden Spencer
#   Date: 04/04/2016
#   
#   Favourites Partial from /buy
#
#	TODO:
#		* Actual data favoruites with model
#
 %>
<div class="ui center aligned container">
	<!-- Section Header -->
	<h2 class="ui header"><i class="star icon"></i>Your Favourites</h2>
	<!-- Slick Carousel -->
	<div class="favouritesSlide" data-slick=''>
		<!-- Get favourites object array -->
		<% favourites = get_favourites_object_array %>
		<!-- If favourites exist, create a div for each one -->
		<% if favourites %>
			<% favourites.each do |fav| %>
				<!-- Get the listing object -->
				<% listing = listing = fav.favourite_listing %>
				<!-- If there is a listing, continue -->
				<% if listing %>
					<!-- Create the div and make it clickable with the property path -->
					<div class="favourite-element" onclick="location.href='<%= property_path("#{listing.listing_address.parameterize}-#{listing.listing_suburb.parameterize}-#{get_state_short(listing.listing_state).parameterize}-#{listing.listing_post_code}-#{listing.listing_id}") %>';">
						<!-- If the listing has an image, use it -->
						<% if listing.listing_cover_image %>
							<%= image_tag listing.listing_cover_image.image.url(:medium_w), alt: "Favourite Image" %>
						<!-- Else use the default placeholder image -->
						<% else %>
							<%= image_tag "placeholder_w.png", alt: "Favourite" %>
						<% end %>
						<!-- Set the listing address via the listing object -->
						<p class="address"><%= listing.listing_address %></p>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>
