<%
#   Created: Jayden Spencer
#   Date: 04/04/2016
#   
#   Featured Property List Partial from /buy
#
#	TODO:
#		* Insert Featured Properties
#
 %>
<div class="feature-property-container">
	<h2 class="ui header">Featured Properties</h2>

	<div class="main-divs ui grid">
		<section class="picture-div eight wide column">
			<%= image_tag("favProp.png")%>
		</section>
		<section class="eight wide column">
			<div class="top">
				<h3>22 Mystery Shack rd Appocross WA</h3>
				<p class="truncate">Such good house, like best house. OMG if only you could see this house! you want house, buy house! buy this house now, trust me its good im telling you on the internet!</p>
			</div>
			<div class="bottom">
				<div>
					<div class="ui bed icon left">
						<p class="">2
						<i class="bed icon"></i>
					</div>
				</div>
				<div>
					<div class="ui bed icon left">
						<p class="">1
						<i class="bed icon"></i>
					</div>
				</div>
				<div>
					<div class="ui bed icon left">
						<p class="">1
						<i class="car icon"></i>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="main-divs ui grid">
		<section class="picture-div eight wide column">
			<%= image_tag("favProp.png")%>
		</section>
		<section class="eight wide column">
			<div class="top">
				<h3>22 Mystery Shack rd Appocross WA</h3>
				<p class="truncate">Such good house, like best house. OMG if only you could see this house! you want house, buy house! buy this house now, trust me its good im telling you on the internet!</p>
			</div>
			<div class="bottom">
				<div>
					<div class="ui bed icon left">
						<p class="">2
						<i class="bed icon"></i>
					</div>
				</div>
				<div>
					<div class="ui bed icon left">
						<p class="">1
						<i class="bed icon"></i>
					</div>
				</div>
				<div>
					<div class="ui bed icon left">
						<p class="">1
						<i class="car icon"></i>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="main-divs ui grid">
		<section class="picture-div eight wide column">
			<%= image_tag("favProp.png")%>
		</section>
		<section class="eight wide column">
			<div class="top">
				<h3>22 Mystery Shack rd Appocross WA</h3>
				<p class="truncate">Such good house, like best house. OMG if only you could see this house! you want house, buy house! buy this house now, trust me its good im telling you on the internet!</p>
			</div>
			<div class="bottom">
				<div>
					<div class="ui bed icon left">
						<p class="">2
						<i class="bed icon"></i>
					</div>
				</div>
				<div>
					<div class="ui bed icon left">
						<p class="">1
						<i class="bed icon"></i>
					</div>
				</div>
				<div>
					<div class="ui bed icon left">
						<p class="">1
						<i class="car icon"></i>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>