<%
#   Created: Jayden Spencer
#   Date: 04/04/2016
#   
#   Search Partial from /buy
#
#	TODO:
#		* Actual data completion
#		* Dropdown features menu
#		* Group feature tag underneath search bar
#
 %>
<% #Main search input field on index root %>
<div class="ui centered grid">
	<div class="ui ten wide centered center aligned column">
		<div class="ui big fluid right action labeled input">
			<div class="ui label">
				<i class="search icon"></i>
			</div>
			<div class="ui fluid multiple search selection dropdown">
				<input name="tags" type="hidden">
				<i class="dropdown icon"></i>
				<div class="default left aligned text">Search by state, suburb, address or keyword;</div>
				<div class="menu">
					<% #TEMP DATA %>
					<div class="item" data-value="angular">Angular</div>
					<div class="item" data-value="javascript">Javascript</div>
					<div class="item" data-value="css">CSS</div>
					<div class="item" data-value="sass">Sass</div>
					<div class="item" data-value="android">Android</div>
				</div>
			</div>
			<div type="submit" class="ui toggle button"><span class="search-action">Search</span></div>
		</div>
	</div>
</div>
