<%
#   Created: Jayden Spencer
#   Date: 04/04/2016
#   
#   Search Partial from /buy
#
#	TODO:
#		* Actual data completion
#		* Dropdown features menu
#		* Group feature tag underneath search bar
#
 %>
<% #Main search input field on index root %>
<div class="ui centered grid">
	<div class="ui ten wide centered center aligned column">
		<div class="ui big fluid right action labeled input">
			<div class="ui label">
				<i class="search icon"></i>
			</div>
			<% suburbs_postcodes = get_suburbs_postcodes() %>
			<% if suburbs_postcodes %>
				<%= select_tag "search-field", options_for_select(suburbs_postcodes), class: "ui fluid multiple search selection dropdown", prompt: "Search by state, suburb, address or keyword;", multiple: true %>
			<% else %>
				<div class="ui fluid multiple search selection dropdown">
					<input name="tags" type="hidden">
					<i class="dropdown icon"></i>
					<div class="default left aligned text">Search by state, suburb, address or keyword;</div>
					<div class="menu">
						<% # A blank list to enable users to add %>
					</div>
				</div>
			</div>
			<% end %>
			<%= link_to search_path, class: "ui toggle button" do %>
				<span class="search-action">Search</span>
			<% end %>
		</div>
	</div>
</div>
