<%
#   Created: Jayden Spencer
#   Date: 04/04/2016
#   
#   Stats partial in /buy
#
#	TODO:
#		* Insert actual stats
#
 %>
<div class="ui center aligned container">
	<%# Section Header %>
	<h2 class="ui header"><i class="bar chart icon"></i>Why You Should Join PropertyDome!</h2>
	<%# Stats circles %>
	<ul id="stats-circles">
		<%# Stat Circle #1 %>
		<li>
			<div class="circle">
				<h2>200</h2>
				<p>new properties today</p>
			</div>
		</li>
		<%# Stat Circle #2 %>
		<li>
			<div class="circle second">
				<h2>5k+</h2>
				<p>favourited properties today</p>
			</div>
		</li>
		<%# Stat Circle #2 %>
		<li>
			<div class="circle last">
				<h2>100</h2>
				<p>properties sold this week</p>
			</div>
		</li>
	</ul>
	<%# Sell point stats section %>
	<h2 class="ui header subtitle">We Help You Discover and Sell Properties. Simply Today.</h2>
</div>