<%
#   Created: Jayden Spencer
#   Date: 04/04/2016
#   
#   Twitter feed
#
#	TODO:
#		* Insert twitter feed
#
 %>
<h2 class="ui header"><i class="icon twitter"></i>Latest Tweets</h2>
<ul>
	<% TwitterApi.client %>
	<% TwitterApi.our_public_tweets.each do |tweet| %>
		<li><%= tweet.text %></li>
	<% end %>
</ul>
