<%
#   Created: Jayden Spencer
#   Date: 04/04/2016
#   
#   Twitter feed
#
#	TODO:
#		* Insert twitter feed
#
 %>
<h2 class="ui header"><i class="icon twitter"></i>Latest Tweets</h2>
<% # To enable the cache to work, in 'config/environments/development.rb', "config.action_controller.perform_caching = false" must be set 
