<div class="search-section">
	<div class="ui center aligned container">
		<h1 class="ui inverted header">LOOKING TO BUY A HOME?</h1>
		<%= render "buy/search" %>
		<button class="big ui right labeled icon button">
			<i class="right add icon"></i>
			Add Search Criteria
		</button>
	</div>
</div>
<section class="favourites-section">

	<%= render "buy/favourites" %>
	
</section>
<div class="ui one wide center aligned grid">
	<div class="lead-in ui one wide column triangle-lead"></div>
</div>
<section class="ui ten wide center aligned grid row">
	<div class="ui six wide left aligned column feature-list">
		<%= render "buy/featurepropertylist" %>
	</div>
	<div class="ui four wide left aligned column twitter-feed">
		<%= render "buy/twitter" %>
	</div>
</section>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
