<div class="search-section">
	<div class="ui center aligned container">
		<h1 class="ui inverted header">LOOKING TO BUY A HOME?</h1>
		<%= render "buy/search" %>
	</div>
</div>

<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
