<div class="search-section">
	<div class="ui center aligned container">
		<h1 class="ui inverted header">LOOKING TO BUY A HOME?</h1>
		<%= render "buy/search" %>
		<button class="big ui right labeled icon button">
			<i class="right add icon"></i>
			Add Search Criteria
		</button>
	</div>
</div>
<div class="favourites-section">
	<%= render "buy/favourites" %>
</div>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
