<div class="search-section">
	<div class="ui center aligned container">
		<h1 class="ui inverted header">Buy#index</h1>
	</div>
</div>

<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
<p>Find me in app/views/buy/index.html.erb</p>
