<% 
#   Created: Daniel Swain
#   Date: 27/04/2016
#   
#   Partial to display the favourites for the user
%>

<h1 class="ui center aligned">Favourites</h1>
<div class="ui items">
	<div class="item">
		<div class="image">
			<img src="">
		</div>
		<div class="content">
			<a class="header"><%= get_favourites_address %></a>
			<div class="meta">
				<span>Description</span>
			</div>
			<div class="description">
				<p></p>
			</div>
			<div class="extra">
				Additional Details
			</div>
		</div>
	</div>
</div>