<% 
#   Created: Daniel Swain
#   Date: 27/04/2016
#   
#   Partial to display the favourites for the user
%>

<h1 class="ui center aligned">Favourites</h1>
<div class="ui items">
	<% favourites = get_favourites_object_array %>
	<% if favourites %>
		<% favourites.each do |fav| %>
			<% listing = get_listing_details(fav.favourite_listing_id) %>
			<% if listing %>
				<div class="item">
					<div id="fav-image" class="image">
					<% if listing.listing_cover_image %>
						<%= image_tag listing.listing_cover_image.image.url(:medium) %>
					<% else %>
						<%= image_tag "placeholder_w.png" %>
					<% end %>
					</div>
					<div class="content">
						<a class="header"><%= listing.listing_address %></a>
						<div class="meta">
							<span>Description</span>
						</div>
						<div class="description">
							<p><%= listing.listing_description %></p>
						</div>
						<div class="extra">
							Additional Details
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>