<% #dashboard sub menu navigation %>
<section class="ui sticky dashboard-submenu">
	<div class="ui large vertical menu">
		<% #shows activity feed and num of new activities %>
		<a class="active item">
			<div class="ui purple label">1</div>
			Activity Feed
		</a>
		<% #inbox %>
		<a class="item">
			<div class="ui label">51</div>
			My Inbox
		</a>
		<% #users favourite properties %>
		<a class="item">
			<div class="ui label">1</div>
			My Favourites
		</a>
	</div>
</section>