<section class="dashboard-submenu">
	<div class="ui large vertical menu">
		<a class="active item">
			<div class="ui purple label">1</div>
			Activity Feed
		</a>
		<a class="item">
			<div class="ui label">51</div>
			My Inbox
		</a>
		<a class="item">
			<div class="ui label">1</div>
			My Favourites
		</a>
	</div>
</section>