<section class="dashboard-container nobanner-container ui container">
	<div class="ui sixteen wide grid stackable">
		<section class="right floated six wide column">
			<%= render "dashboard/navsub" %>
		</section>
		<section class="ui ten wide column">
			<%= render "dashboard/activitycontent" %>
		</section>
	</div>
</section>