<%
#   Created: Daniel Swain
#   Date: 21/04/2016
#   
#   Template for the privacy page
#   
#   Todo:
#   	* Bring in Erdal's Privacy Policy
#   	* Align properly and update the nav.coffee file if needed
 %>

<h1>StaticPages#privacy</h1>
<p>Find me in app/views/static_pages/privacy.html.erb</p>
