<%
#   Created: Daniel Swain
#   Date: 21/04/2016
#   
#   Template for the privacy page
#   
%>

<% # Everything inside a nobanner-container and middle aligned grid container to fix alignment and place under header %>
<div class="ui container nobanner-container">
	<div class="ui middle aligned grid container">
		<div id="privacy-policy">
			<h1><span class="privacy-brand">PropertyDome</span> Privacy Policy</h1>
			<p>Version 1.0</p> 
			<p>Effective on 9/06/2016</p>

			<h3 id="privacy-section-1">INTRODUCTION</h3>
			<p>This <span>Privacy Policy</span> sets out the manner in which we collect, use, disclose and manage personal information. By joining/subscribing to <span class="privacy-brand">PropertyDome</span> you are taken to have read and agreed to the collection, use, disclosure and handling of your personal information in accordance with this <span>Privacy Policy</span>.</p>
			<p>We may update this <span>Privacy Policy</span> at any time. It is recommended that you periodically visit this policy to see any updates or changes that may have taken place. If we change this Agreement in any non-trivial way, we will give you at least 14 days prior written notice on our website.</p>

			<h3 id="privacy-section-2">INFORMATION PRIVACY</h3>
			<p>We recognise the importance of protecting personal information. We do not collect sensitive information as defined under the Privacy Act 1988, such as racial or ethnicity information, political opinions or associations, criminal records or health information.</p>

			<h3 id="privacy-section-3">PERSONAL INFORMATION COLLECT</h3>
			<p><span class="privacy-brand">PropertyDome</span> may collect personal information about you including, but not limited to your name, address, phone number, email, gender, occupation, personal interests and any other information provided.</p>
			<p>If you access any of our services through a social network site such as Facebook, we will collect limited information provided to us by that social network site, such as user name, site ID and email address.</p>
			<p>You acknowledge that the personal information you provide us and which we collect from you, is your own information or information which you have been authorised to provide to us.</p>

			<h3 id="privacy-section-4">HOW WE MAY COLLECT PERSONAL INFORMATION</h3>
			<p>We may collect information from you when/by:</p>
			<ul>
				<li>Registering to use <span class="privacy-brand">PropertyDome</span></li>
				<li>Logging in using a social media account.</li>
				<li>Contacting us for any reason including, but not limited to, reporting a problem with the website or requesting assistance for whatever reason.</li>
				<li>Posting or contributing material on our website.</li>
			</ul>

			<h3 id="privacy-section-5">HOW WE USE YOUR PERSONAL INFORMATION</h3>
			<p>We use the personal information we have collected largely for the purpose of responding to your inquiries, creating and maintaining your account and ensuring you comply and adhere to our website terms of use.</p>
			<p>More specifically we use personal information in the following:</p>
			<ul>
				<li>Ensure that content from the Websites is presented in the most effective manner for you.</li>
				<li>Provide a better or more relevant service or product to you, for instance by automatically populating forms on the Websites when you make enquiries of selected estate agents.</li>
				<li>respond to or provide you with service, products, information and assistance that you request from <span class="privacy-brand">PropertyDome</span>.</li>
			</ul>

			<h3 id="privacy-section-6">SHARING YOUR INFORMATION</h3>
			<p>We will share your information with third parties only in the ways that are described in this privacy statement.</p>
			<p>We may disclose your personal information:</p>
			<ul>
				<li>As required by law, such as to comply with a subpoena, or similar legal process.</li>
				<li>When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</li>
				<li>If <span class="privacy-brand">PropertyDome</span> is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information.</li>
				<li>To any other third party with your prior consent to do so.</li>
			</ul>

			<h3 id="privacy-section-7">SECURITY</h3>
			<p>We strive to ensure the security, integrity and privacy of personal information we collect. We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee its absolute security</p>

			<h3 id="privacy-section-8">COMPLAINTS RESOLUTION</h3>
			<p><span class="privacy-brand">PropertyDome</span> is committed to resolving all and any of your complaints and or problems. Please email us at <a href="mailto:PropertyDome@gmail.com?Subject=Hello%20again" class="email-link" target="_top">PropertyDome@gmail.com</a>. We in return will try our best to give you a quick and satisfactory response, please be patient with us as some issues may take longer to fix than others.</p>
		</div>
	</div>
</div>