<%
#   Created: Daniel Swain
#   Date: 21/04/2016
#   
#   Template for the terms and condition page
#   
%>
<% title "Propertydome Terms and Conditions" %>
<% # Everything inside a nobanner-container and middle aligned grid container to fix alignment and place under header %>
<div class="ui container nobanner-container">
	<div class="ui middle aligned grid container">
		<div id="body">
			<h1><span class="terms-brand">PropertyDome</span> Terms and Conditions</h1>
			<p>Version 1.0</p> 
			<p>Effective on 9/06/2016</p>

			<h3 id="terms-section-1">YOUR AGREEMENT WITH US</h3>
			<p>Your agreement with us will consist of the following:</p>
			<ul>
				<li>These general <span>Terms and Conditions.</span></li>
				<li>The privacy statement.</li>
				<li>Any physical document or electronic interface we make available to you, that you sign or otherwise indicate your agreement to a special service or product that we may offer.</li>
			</ul>

			<h3 id="terms-section-2">YOUR WARRANTIES AND REPRESENTATIONS</h3>
			<p>You represent and warrant to us that at all times during the Term of this Agreement:</p>
			<ul>
				<li>You hold all required licences or accreditations to sell or lease all your listings on the website.</li>
				<li>You have authority to sell or lease all your listings on the website and have the proper authorities in place required by State or Territory regulations.</li>
				<li>You will comply with all your obligations set out in the &ldquo;Your Obligation&rdquo; section of this document.</li>
			</ul>

			<h3 id="terms-section-3">YOUR ACKNOWLEDGEMENTS</h3>
			<p>You acknowledge that at all time times:</p>
			<ul>
				<li>You have read and agreed to the <span>Privacy Policy</span> and to the <span>Terms and Conditions</span> of <span class="terms-brand">PropertyDome</span> and that you acknowledge that these agreements may change from time to time.</li>
				<li>In consideration for your right to upload listings to the website and the other services we provide, you grant us an irrevocable, worldwide, royalty free licence to publish, copy, licence to other persons, use and adapt for any purpose related to our business any content you provide to us for a period of six months from listing date, and this licence survives termination of this Agreement by you or us.</li>
				<li>We may take any action we deem fit in relations to your listing if we believe there is some form of breach in this agreement, including but not limited to removing listing and or deleting accounts.</li>
				<li>You are solely responsible for the content your listings and any errors or omissions in your listings – our role is one of publisher.</li>
				<li>If we change this Agreement in any non-trivial way, we will give you at least 14 days’ prior written notice.</li>
				<li>We cannot guarantee the continuous or fault-free operation of the website or other services we provide you and, without limitation, systems or technological failure or delay may impede or prevent access to the website and other services.</li>
				<ol>
					<li><span class="terms-brand">PropertyDome</span> is not liable for any loss or damage incurred through any fault or disruption in our service offering.</li>
					<li>We may contact you from time to time in relation to products and services offered by us or our business partners and you authorise us.</li>
					<li>to contact you via phone, email, text message and other electronic media, unless you explicitly request us not to contact you via these media.</li>
					<li>to contact you via any of these methods to the extent permitted by law, an unsubscribe option will be available within setting in your account to most, if not all of these methods.</li>
				</ol>
			</ul>

			<h3 id="terms-section-4">YOUR OBLIGATIONS</h3>
			<p>Your obligations to us are as follows:</p>
			<ul>
				<li>You will only upload listings to the website yourself or via an authorised third party who has agreed to our <span>Terms and Conditions</span> for uploading properties to the website.</li>
				<li>You will comply with any direction we give to in relation to your listings, including amending or updating listings.</li>
				<li>Where you provide us with personal information of any individual, you must inform that individual that their personal information will be used and disclosed by us in accordance with our <span>Privacy Policy</span>.</li>
				<li>You will ensure that your listings are not unlawful or uploaded for an improper purpose, including information that is defamatory, misleading or deceptive, in breach of copyright or would otherwise expose us to any liability, legal proceedings or other sanction.</li>
				<li>You will comply with all applicable laws, including without limitation, the Competition and Consumer Act 2010; local fair trading legislation; real estate agent legislation and regulations (including rules governing the disclosure, retention and payment of any rebates or benefits) and any other applicable advertising standards and regulations including the Privacy Act 1988 and regulations thereunder.</li>
				<li>You will comply with any guidelines and codes issued by your local and national body for your type of organisation.</li>
				<li>You undertake that you will only collect, use, disclose and store personal information obtained through our Websites including through leads generated by users submitting enquiries on our Websites, for the sole purpose of contacting the person enquiring in relation to the specific property they have enquired about.</li>
			</ul>

			<h3 id="terms-section-5">TERMINATION OR SUSPENSION BY US:</h3>
			<p></p>
			<ol>
				<li>We may terminate this Agreement at any time for any reason provided that we give you at least seven days written notice.</li>
				<li>Notwithstanding section &ldquo;Termination or suspension by us&rdquo; 1 and without limiting our other rights, we may immediately terminate this Agreement or suspend or temporarily remove any of your listings if.</li>
				<ul>
					<li>You fail to pay any fees or charges due to us by the due date.</li>
					<li>We reasonably consider that any of your warranties or representations in section &ldquo;Your warranties and representations&rdquo; are incorrect.</li>
					<li>You act contrary to your acknowledgements in section &ldquo;Your acknowledgements&rdquo;.</li>
					<li>You are in breach of your obligations under section &ldquo;Your obligations&rdquo;.</li>
					<li>Any statement you make to us or any content or material supplied by you (including material uploaded to our website) is false or misleading.</li>
					<li>You enter into bankruptcy, liquidation, provisional liquidation, administration, receivership, receivership and management, a composition of arrangement with your creditors, or appoint a receiver, manager or controller over all or any part of your assets, or are protected from creditors under any statute, or become or are deemed to become insolvent.</li>
					<li>Or you die, or if you are in a partnership, the partnership is dissolved or an application to dissolve has been filed, or if you are a company, the company is wound up or an application for winding the company up is filed.</li>
				</ul>
			</ol>

			<h3 id="terms-section-6">TERMINATION OR SUSPENSION BY YOU</h3>
			<ol>
				<li>You may terminate your account through the settings menu and in accordance with this document and this section.</li>
				<li>You agree to pay any and all outstanding fees on your account before the cancellation can be processed by <span class="terms-brand">PropertyDome</span>. And</li>
				<li>Upon termination, <span class="terms-brand">PropertyDome</span> will delete all instances of your account across all <span class="terms-brand">PropertyDome</span> properties. Some information pertaining to your active or passed listings, may remain on the website for a period of time as defined in section &ldquo;Your Acknowledgements&rdquo; part b.</li>
			</ol>

			<h3 id="terms-section-7">EFFECT OF TERMINATION OR SUSPENSION</h3>
			<p></p>
			<ul>
			<li>Termination of this Agreement or suspension or temporary removal of listings pursuant to section &ldquo;Termination or suspension by us&rdquo; 2 does not:</li>
				<ol>
					<li>Relieve you of your liability to pay fees up to the effective time of termination and, for the avoidance of doubt, invoices will still be issued and payable for periods of suspension and during notice periods leading to termination.</li>
					<li>Relieve you of your other accrued obligations and liabilities pursuant to this Agreement and we reserve our right to enforce such obligations and liabilities before or after termination. Or</li>
					<li>Waive any breach of this Agreement by you.</li>
				</ol>
			</ul>

			<h3 id="terms-section-8">NOTICES</h3>
			<p></p>
			<ul>
				<li>We will send all notices and other communications to you at the email address you have provided to us. It is your sole responsibility to ensure that you provide us with your current contact email address.</li>
				<li>All notices from you to us (including termination notices) must be sent to <a href="mailto:PropertyDome@gmail.com?Subject=Hello%20again" class="email-link" target="_top">PropertyDome@gmail.com</a>.</li>
			</ul>
		</div>
	</div>
</div>