// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/


//in contact-page class container
//if its just a h1 by iteself this will then be global!
.contact-container
	width: 100%
	background-image: url("landing-header.png")
	#welcome
		text-align: center
	#contact-section-1
		background-color: $grey-blue-primary
	#contact-section-2
		background-color: $grey-primary

	.nice
		width: 70%
		margin-left: 15%
		margin-top: 5%
		margin-bottom: 5%

	h1, p
		color: white