// Created: Erdal Erkilic
// Date: 20/04/2016
// The following styles are for the contact page
//
//in contact-page class container
//if its just a h1 by iteself this will then be global!
.contact-container
	width: 100%
	margin-top: -50vh
	#welcome
		text-align: center
	#contact-section-1
		background-color: $blue-grey-contact
	#contact-section-2
		background-color: $grey-contact

	.nice
		width: 70%
		margin-left: 15%
		margin-top: 5%
		margin-bottom: 5%

	h1, h3, p, .link
		color: white
	#contact-submit-button
		color: $white-primary
		background-color: $purple-saturated
		position: absolute
		bottom: 10px
	#contact-submit-button:hover
		background-color: $purple-primary
	.bold-text
		font-weight: bold
	#top-bottom
		height: 85%
	#bottom-bottom
		height: 15%