// Created: Jayden Spencer
// Date: 30/04/2016
// 
// The following styles are for all property pages.

.feature-property-container
	.left
		float: left
		margin: 0px 15px 35px 0px
	.main-divs
		background-color: $white-fav
		margin-bottom: 10px
	.picture-div
		img
			width: 100%
			height: auto
	.tags
		float: bottom
	.top
		height: 70%
	.bottom
		height: 30%

.favouritesSlide
	.address
		color: white
		background-color: $grey-fav
		width: 100%