// Created: Jayden Spencer
// Date: 27/04/2016
// 
// The following styles are for all search pages.
.search-container
	//submenu on left of results
	.search-submenu
		min-height: 40vh
		background-color: $grey-blue-primary
		border-radius: 5px
	#search-sticky
		padding-top: 50px
		.segment
			background: $transparent
		#tag-searchfield
			h5:not(:first-child)
				margin-top: 6px
			h5
				margin-bottom: 2px
				color: $white-primary
			div
				margin-top: 7px
		//circle in price tag
		.ui.tag.labels .label:after, .ui.tag.label:after
			background-color: $grey-blue-primary !important
		//add features button -- needs to be moved to a more global name space
		.ui[class*="right labeled"].icon.button
			color: $white-primary
			margin-top: 2.4em
			background-color: $blue-primary
			margin-left: -15px
	//filter dropdown button in divider
	.search-filter
		background: transparent
		padding: 4px
		margin-top: 22px
		float: right
	.search-filter:hover,
	.search-filter:focus
		color: $green-secondary
		background: transparent
	.search-filter.active:hover,
	.search-filter.active:focus
		color: $green-secondary
		background: transparent
	//divider inbetween search results
	.search-divider
		font-size: 1em !important
	//card
	.property-card
		width: 90%
		//left corner fav selection
		.title-link:hover
			color: $green-secondary
		.fav-property
			border-color: $transparent
			i
				color: $grey-lighter
			.favd
				color: $yellow-primary
		.fav-property:hover
			border-color: $transparent
			i
				color: $grey-light
				cursor: pointer !important
			.favd
				color: $yellow-hover
		//extend width of status ribbon to be one line
		.status-ribbon
			width: 39%
		.house-type i
			margin-right: 3px !important
	//select tags, so they are not so glued together
	.tag-field > div > div 
		margin-bottom: 6px !important
	.property-info-stats
		font-size: 	1rem
		font-weight: lighter
		color: $grey-light
		span
			padding-left: 10px
		.star
			color: $yellow-hover
	.property-info
		font-size: 1.1rem
		float: right
		span
			font-weight: bolder
			padding-right: 15px
	.company-column
		padding-left: 0px !important
		img
			width: 55px !important
	.user-column
		padding-right: 0px !important
	.company-column,
	.user-column
		span
			font-weight: bold
			color: $grey-text
		a:hover
			span
				font-weight: bold
				color: $green-secondary
	.left.floated.meta
		margin-top: 15px