// Created: Jayden Spencer
// Date: 27/04/2016
// 
// The following styles are for all search pages.
.search-container

	.search-submenu
		background-color: $white-secondary
		height: 40vh
		min-height: 200px
	.search-filter
		background: transparent
		margin-top: 5px
		float: right
	.search-divider
		font-size: 1em !important