// Created: Jayden Spencer
// Date: 27/04/2016
// 
// The following styles are for all search pages.
.search-container
	//submenu on left of results
	.search-submenu
		height: 40vh
		min-height: 200px
		background-color: $white-secondary
	#search-sticky
		padding-top: 50px
	//filter dropdown button in divider
	.search-filter
		background: transparent
		padding: 4px
		margin-top: 22px
		float: right
	.search-filter:hover,
	.search-filter:focus
		color: $green-secondary
		background: transparent
	.search-filter.active:hover,
	.search-filter.active:focus
		color: $green-secondary
		background: transparent
	//divider inbetween search results
	.search-divider
		font-size: 1em !important
	//card
	.property-card
		width: 90%
		//left corner fav selection
		.title-link:hover
			color: $green-secondary
		.fav-property
			border-color: $transparent
			i
				color: $grey-lighter
			.favd
				color: $yellow-primary
		.fav-property:hover
			border-color: $transparent
			i
				color: $grey-light
				cursor: pointer !important
			.favd
				color: $yellow-hover
	//select tags, so they are not so glued together
	.tag-field > div > div 
		margin-bottom: 6px !important
	.property-info-stats
		font-size: 	1rem
		font-weight: lighter
		color: $grey-light
		span
			padding-left: 10px
		.star
			color: $yellow-hover
	.property-info
		font-size: 1.1rem
		float: right
		span
			font-weight: bolder
			padding-right: 15px
	.company-column
		padding-left: 0px !important
		img
			width: 55px !important
	.user-column
		padding-right: 0px !important
	.company-column,
	.user-column
		span
			font-weight: bold
			color: $grey-text
		a:hover
			span
				font-weight: bold
				color: $green-secondary
	.left.floated.meta
		margin-top: 15px