// Created: Jayden Spencer
// Date: 22/05/2016
// 
// The following styles are for the search page
//mobile view
@media only screen and (max-width: 767px)
	.nobanner-container
		margin-top: 4em !important
	#search-sticky
		height: auto !important
	#tag-searchfield
		max-height: 200px !important

