// Created: Daniel Swain
// Date: 05/04/2016
// 
// The following styles are for all sales pages for mobile responsiveness

// NOTE I've Commented out container width stuff as the meta tag should be specifying this now.
// Other classes, likely still required to fix mobile issues

// Tablets and mobiles
@media only screen and (max-width: 991px)
	// Reduce whitespace under .sell-banner on mobiles/tablets
	.sell-banner
		height: 50vh
// Tablets and mobiles more global mobile styles
@media only screen and (max-width: 768px)
	// Reduce whitespace under .sell-banner on mobiles/tablets
	.sell-banner
		height: 40vh
	// Fix for manage-properties header being off screen a bit when fixed via jQuery
	// Note, to ensure this overrides the .visibility class I had to use the ui and .fixed classes
	.ui.manage-properties-header-fix.fixed
		width: 93.5% !important

// Tablet view and large phones
@media only screen and (max-width: 768px) and (min-width: 432px)

// Small mobile view only
@media only screen and (max-width: 340px)
	// Reduce whitespace under .sell-banner on mobiles/tablets (need a larger amount for small phones like the iPhone 4/5)
	.sell-banner
		height: 55vh
