// Created: Daniel Swain
// Date: 05/04/2016
// 
// The following styles are for all sales pages.

//--------- Set text/background colours for sell elements
// Text
.sell-red-text
	color: $red-primary !important

// Buttons & Ribbon
.sell-red,
.sell-red-button,
.sell-red-ribbon
	background-color: $red-primary !important
	color: $white-primary !important
.sell-red-button:hover,
.sell-red-button:active,
.sell-red-button:focus,
.sell-red-ribbon:hover,
.sell-red-ribbon:active,
.sell-red-ribbon:focus
	background-color: $red-primary-hover !important
.sell-red-button-alt
	background-color: $red-primary-hover !important
	color: $white-primary !important
.sell-red-button-alt:hover,
.sell-red-button-alt:active,
.sell-red-button-alt:focus
	background-color: $red-primary !important

// The Ribbon border handles the ribbon fold
.sell-red-ribbon
	border-color: $red-primary-hover !important

// Disable the cursor: pointer that Semantic-UI uses for a star icon
.star.icon
	cursor: default !important

//--------- Index Page Styles
// The banner on the index sell page and all it's elements
.sell-banner
	margin-top: -60px
	padding-top: 5em
	width: 100%
	height: 80vh
	max-height: 700px
	background: url(image_path('sell-header.png')) no-repeat
	background-size: 100%
	.ui.inverted.header
		padding-top: 3em
		h1
			font-size: 4em
			text-align: center
	.icon.button
		margin-top: 2.5em

//--------- Manage Property Page Styles
// Manage property table header
.manage-table-header
	background-color: $grey-primary !important
	color: $white-primary !important
	.ui.buttons
		.button
			background-color: $grey-primary !important
			color: $white-primary !important
		.button:hover,
		.button:active,
		.button:focus
			background-color: $grey-primary-hover !important

// Add margin to next element after sticky to prevent overlap
.manage-properties
	z-index: 99

// Change the pointer for the status ribbon
.manage-status.ribbon
	cursor: pointer

// Change the status modal input sizes
.manage-status.modal
	.status-date.input
		max-width: 10em
	.status-time.input
		max-width: 7em

// Styles for the manage status modal header and border and top positioning
.manage-status.modal
	margin-top: -275px !important
	border-radius: 0.5em
	// Close button is positioned absolutely, here I'm overriding the positioning
	.close
		top: 0.7em // Default is -1.5em which doesn't work for us as we're sizing the modal manually
		right: 0em // Default is -1.5em which doesn't work for us as we're sizing the modal manually
	.header
		min-height: 3em
		background-color: $grey-primary
		color: $white-primary

// Remove margin right on icons in property feature elements on manage page
// Size the icon and text together to ensure they match.
.sell-listing-feature 
	font-size: 1.2em
	.icon
		margin-right: 0px
	
// Send element to bottom of container
.manage-property-bottom
	position: absolute
	bottom: 1em
	left: 1em
	span
		padding-right: 1em
	// The top row for the tags (situated in the bottom row) giving it some bottom padding to better separate it from
	// the view, favourite, comment counts. Also add margin-bottom to the labels in this row incase they wrap around on smaller screens
	.top-row
		margin-bottom: 1em
		.label
			margin-bottom: 0.5em
.manage-property-bottom-right
	position: absolute
	bottom: 1em
	right: 1em
	// Fix the border radius not showing on the left side of the delete button
	.button
		border-radius: 0.28em !important

// Styles for manage-listing-card (to get appoved corner label curved to match card and to left-page the header so it's not covered by the corner label)
.manage-listing-card
	overflow: hidden
	.content .header h2
		margin-left: 1em

// Override the colour of the pagination class links so they can be seen
.pagination a
	color: #000000

//--------- Add-Edit Page styles
// Remove bottom border from tabular menu
.add-edit.tabular.menu
	border-bottom-style: none !important

// Styling for add edit property card
// It positions the delete button in the top right and styles the button
// It also styles the bottom attached label
.add-edit.property-card.delete
	position: absolute
	top: 0.3em
	right: 0.1em
	.button
		background-color: $grey-primary-hover !important
		color: $white-primary !important
	.button:hover,
	.button:active,
	.button:focus
		background-color: $grey-primary !important
.add-edit.property-card.bottom.attached.label
	background-color: $grey-primary !important
	color: $white-primary !important
	text-align: center

// Style the custom tag box to hide the dropdown icon and to increase the height of the field if there's nothing in it
// Using min-height so it can grow if a lot of tags are added.
.add-edit.custom-tags
	min-height: 10em !important
	.dropdown.icon
		display: none !important
