// Created: Daniel Swain
// Date: 05/04/2016
// 
// Set the css classes used for the sales pages.

$red-primary: #e74c3c
$red-primary-hover: #c0392b

.sell-banner
	margin-top: -60px
	padding-top: 10em
	width: 100%
	height: 700px
	background: url(image_path('sell-header.png')) no-repeat
	background-size: 100%
	.ui.inverted.header
		padding-top: 3em
	a.button
		background-color: $red-primary
	a.button:hover
		background-color: $red-primary-hover

.padding-top
	margin-top: 30px !important

.padding-top-half
	margin-top: 15px !important

.sell-red
	color: $red-primary !important