// Created: Daniel Swain
// Date: 05/04/2016
// 
// The following styles are for all sales pages.

//--------- Colours and variables
$red-primary: #e74c3c
$red-primary-hover: #c0392b
$grey-primary: #1d2327
$grey-primary-hover: #21272b
$white-primary: #FFFFFF

//--------- The banner on the sell page and all it's elements
.sell-banner
	margin-top: -60px
	padding-top: 5em
	width: 100%
	height: 80vh
	max-height: 700px
	background: url(image_path('sell-header.png')) no-repeat
	background-size: 100%
	.ui.inverted.header
		padding-top: 3em
	.icon.button
		margin-top: 2.5em

//--------- Margin and padding for elements
.margin-top
	margin-top: 30px !important
.margin-top-half
	margin-top: 15px !important

//--------- Set text/background colours for sell elements
// Text
.sell-red-text
	color: $red-primary !important

// Buttons
.sell-red-button
	background-color: $red-primary !important
	color: $white-primary !important
.sell-red-button:hover,
.sell-red-button:active,
.sell-red-button:focus
	background-color: $red-primary-hover !important

//--------- Manage property table header
.manage-table-header
	margin-top: 2em !important
	background-color: $grey-primary !important
	color: $white-primary !important
	.ui.buttons
		.button
			background-color: $grey-primary !important
			color: $white-primary !important
		.button:hover,
		.button:active,
		.button:focus
			background-color: $grey-primary-hover !important

//--------- Send element to bottom of container
.manage-property-bottom
	position: absolute
	bottom: 1rem
	left: 1rem
	span
		padding-right: 1rem
.manage-property-bottom-right
	position: absolute
	bottom: 1rem
	right: 1rem

//--------- Disable the cursor: pointer that Semantic-UI uses for a star icon
.star.icon
	cursor: default !important

//--------- Add margin to next element after sticky to prevent overlap
.ui.fixed.sticky + .ui.cards
	margin-top: 5em
