// Created: Jayden Spencer
// Date: 19/05/2016
// 
// The following styles are for all static pages for mobile responsiveness

//team page
//tablet views
@media only screen and (max-width: 991px) and (min-width: 768px)
	.team-cards
		.card
			min-width: 333px !important
			header
				font-size: 1.55em
			a
				font-size: 1.15em
				font-weight: bold
			.role-header
				font-size: 1.05em
			p
				font-size: 1.1em
//team page
//in between tablet and mobile as regular mobile size is too big for 100% width
@media only screen and (max-width: 768px) and (min-width: 512px)
	.team-cards
		.card
			width: 44% !important
			header
				font-size: 1.75em
			a
				font-size: 1.25em
				font-weight: bold
			.role-header
				font-size: 1.1em
			p
				font-size: 1.1em
//team page
//mobile view
@media only screen and (max-width: 512px)
	.team-cards
		.card
			width: 100% !important
			max-width: 475px !important
			header
				font-size: 1.9em
			a
				font-size: 1.35em
				font-weight: bold
			.role-header
				font-size: 1.2em
			p
				font-size: 1.2em