<%# USER image/link %>
<%# profile path will need to change for profile/:id %>
<ul id="realestateDetails">
	<li>
		<%= link_to buy_path  do %>
			<%= image_tag "userprofile-header.png", alt: "User Profile Image", class: "ui small circular image" %>
			<%# Username %>
			<span>Ron Swanson</span>
		<% end %>
	</li>
	<li>
		<%# User Company %>
		<span>Ron's Realestate Company</span>
	</li>
	<li>
		<%# User Phone %>
		<button class="ui inverted green button">Call</button>
	</li>
	<li>
		<%# User Email %>
		<button class="ui inverted green button">Email</button>
	</li>
</ul>



