<%# USER image/link %>
<%# profile path will need to change for profile/:id %>
<div class="middle aligned column user-column">
	<%= link_to buy_path  do %>
		<%= image_tag "userprofile-header.png", alt: "User Profile Image", class: "ui avatar image" %>
		<%# Username %>
		<span>Ron Swanson</span>
		<%# User Company %>
		<span>Ron's Realestate Company</span>
		<%# User Phone %>
		<button>call</button>
		<%# User Email %>
		<button>email</button>
	<% end %>
</div>