<div id="header-nav-links">
	<%# Back Link %>
	<%= link_to "< back to search results", "search_path", id:"back-search-link" %>
	<%# Prev/Next Tags %>
	<span id="next-prev-links">
		<%= link_to "< previous", buy_path %>
		<%= link_to "next >", buy_path %>
	</span>
</div>