<div id="tag-searchfield">
	<h5>Location:</h5>
	<div class="ui property-feature-tag label">Perth<i class="delete icon"></i></div>
	<div class="ui property-feature-tag label">Canning Bridge<i class="delete icon"></i></div>
	<h5>Property:</h5>
	<div class="ui property-feature-tag label">House<i class="delete icon"></i></div>
	<div class="ui property-feature-tag label">2 Bedrooms<i class="delete icon"></i></div>
	<div class="ui property-feature-tag label">1 to 3 Bathrooms<i class="delete icon"></i></div>
	<h5>Features:</h5>
	<div class="ui sell-feature-tag label">Home Theatre<i class="delete icon"></i></div>
	<div class="ui sell-feature-tag label">NBN<i class="delete icon"></i></div>
	<div class="ui sell-feature-tag label">Pool<i class="delete icon"></i></div>
	<div class="ui sell-feature-tag label">Front Garden<i class="delete icon"></i></div>
	<div class="ui sell-feature-tag label">Back Garden<i class="delete icon"></i></div>
	<h5>Price:</h5>
	<div class="ui price-feature-tag tag label">Maximum $650,000<i class="delete icon"></i></div>
</div>
<button class="large ui right labeled icon button">
	<i class="right add icon"></i>
	Add Search Criteria
</button>
