<%#
#   Created: Jayden Spencer
#   Date: 27/04/2016
#   
#   The search page for the site.
#   
#   Partials:
#   	
#   TODO:
# => property listing has actual image content
# => nav side bar is fixed
# => nav side bar is works with recieved content
# => nav side bar label clear when clicked
 %>
<section class="search-container nobanner-container ui container">
	<div class="ui sixteen wide grid stackable">
		<div class="ui rail four wide column" id="search-sticky">
			<% #search sub menu navigation %>
			<section class="ui sticky search-submenu">
				<div class="ui segment">
					<%= render partial:"search/searchconfig" %>
				</div>
			</section>
		</div>
		<%# search results content %>
		<div class="ui twelve wide column" id="search-feed">
			<%# search filter %>
			<div class="ui dropdown button search-filter">
				<span class="text">Recent</span>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item">
						<span class="text">Recent</span>
					</div>
					<div class="item">
						<span class="text">Cheapest</span>
					</div>
					<div class="item">
						<span class="text">Popular</span>
					</div>
				</div>
			</div>
			<%# result amount header %>
			<p class="ui dividing header search-divider">
				<%= "showing #{@listings.length} exact results" %>
			</p>
			<%# if results found display result partial otherwise display no results found! %>
			<% if @listings.length > 0 %>
				<% # Jayden, I've moved the loop here as I wasn't able to refer to your partial on my end as I don't have a @listings collection to pass to it %>
				<% @listings.each do |listing| %>
					<% # Render the search results partial using the local listing variable %>
					<%= render partial: "search/propertyresult", locals: {listing: listing} %>
				<% end %>
				<p class="ui dividing header search-divider">broadening search with no pool</p>
				<p class="ui dividing header search-divider">broadening search with more bathrooms</p>
			<% else %>
				<h2 class="ui header">No Results Found!</h2>
			<% end %>
		</div>
	</div>
</section>
<% # Render the to top button with the blank colour_class local to keep it green %>
<%= render partial: "layouts/to_top_button", locals: { colour_class: ""} %>
