<%
#   Created: Jayden Spencer
#   Date: 27/04/2016
#   
#   The search page for the site.
#   
#   Partials:
#   	
#   TODO:
#
 %>
<section class="search-container nobanner-container ui container">
	<div class="ui sixteen wide grid stackable">
		<div class="ui rail four wide column">
			<% #search sub menu navigation %>
			<section class="ui sticky search-submenu">
				<%= render partial:"search/searchconfig" %>
			</section>
		</div>
		<% #search results content %>
		<div class="ui twelve wide column" id="activity-feed">
			<%= render partial:"search/propertyresult" %>
		</div>
	</div>
</section>