<%
#   Created: Daniel Swain
#   Date: 09/04/2016
#   
#   Partial for adding/editing the listing information in the add_edit property flow
%>

<div class="ui one column grid">
	<% # Header %>
	<div class="ui centered row">
		<h3 class="header">Edit the information in your listing below:</h3>
	</div>

	<% # Main content, in this case the extra premium feature option checkboxes. %>
	<div class="ui two column row">
		<div class="ui eight wide column">
			column 1
		</div>
		<div class="ui eight wide column">
			column 2
		</div>
	</div>

	<% # The button container %>
	<div class="ui right aligned column">
		<% # Cancel button %>
		<%= link_to "Cancel", sell_index_path, data: { confirm: "Are you sure you want to cancel and discard your changes?" }, class: "ui button" %>
		
		<% # Preview button %>
		<div class="ui button">Preview</div>
	</div>
</div>
