<%
#   Created: Daniel Swain
#   Date: 30/04/2016
#   
#   Partial for showing the preview to the user for their listing changes.
#   
#   Collections:
#   	* @listing: the property listing to be edited (only if editing)
#   
#   ToDo:
#   	* Bring in the search and property partials for the preview
%>

<% # Header %>
<div class="ui centered row">
	<h3 class="header">Preview Listing</h3>
</div>

<% # Choice for the buttons to show the two preview types. %>
<div class="ui middle aligned column">
	<div class="ui button">Search Preview</div>
	<div class="ui button">Listing Preview</div>
</div>
