<%
#   Created: Daniel Swain
#   Date: 09/04/2016
#   
#   Partial for adding/editing the listing information in the add_edit property flow
#   
#   Todo:
#   	* Build this layout
%>

<% # Header %>
<div class="ui centered row">
	<h3 class="header">Edit the information in your listing below:</h3>
</div>

<% # Main content, in this case the extra premium feature option checkboxes. %>
<div class="ui two column row">
	<div class="ui eight wide column">
		column 1 To be completed
	</div>
	<div class="ui eight wide column">
		column 2 To be completed
	</div>
</div>
