<%
#   Created: Daniel Swain
#   Date: 10/04/2016
#   
#   Partial for the add/edit action buttons
#   
#   Collections:
#   	* @action: a descriptor for the action (i.e. "Save Changes", "Create Listing")
#   	
#   Todo:
#   	* style the cancel button's warning prompt (currently the default confirmation dialog of the browser).
%>

<% # These buttons are pulled into the add/edit page as the code is the same for all tabs and performs the same actions. %>
<div class="ui right aligned column">
	<% # Cancel button %>
	<%= link_to "Cancel", sell_index_path, data: { confirm: "Are you sure you want to cancel and discard your changes?" }, class: "ui button" %>

	<% # Post button, the submit action is triggered onClick of this button in add_edit.coffee %>
	<button class="ui button sell-red-button" id="add-edit-submit-button"><%= @action %></button>
</div>
