<%
#   Created: Daniel Swain
#   Date: 30/04/2016
#   
#   Partial for showing the preview to the user for their listing changes.
#   
#   Collections:
#   	* @listing: the property listing to be edited (only if editing)
#   
#   ToDo:
%>

<% # Header %>
<div class="ui centered row">
	<h3 class="header">Preview Listing</h3>
</div>

<% # The Search partial preview rendered here (initially display none). Clicking the button above will toggle the display of this partial  %>
<div class="ui ten wide column" id="search-result-preview">
	<% # Header and divider %>
	<h4>Example Search Result</h4>
	<div class="ui divider"></div>
	<% # The actual preview partial %>
	<%= render partial: "search/propertyresult", locals: {listing: @listing} %>
</div>
