<%
#   Created: Daniel Swain
#   Date: 09/04/2016
#   
#   Partial for adding/editing photos in the add_edit property flow
#   
#   Collections:
#   	* @listing: the property listing to be edited (only if editing)
#   	* @photos: the photos for the property listing
#   	* @action: a descriptor for the action (i.e. "Save Changes", "Create Listing")
#   
#   ToDo:
#   	* Build an add/image function and dynamically add image cards to the cards layout
#   	* Make delete property image button remove that image
#   	* Let you select/change the main image association
#   	* Add check for > 10 images and show warning if that is true
#   	* Import and use Jaydens search and property partials for the preview button
%>

<% # Header %>
<div class="ui centered row">
	<h3 class="header">Listing Photographs</h3>
</div>

<% # The listing photos %>
<div class="ui centered fourteen wide column">
	<% # Place property image cards in a five wide cards layout %>
	<div class="ui five cards">
		<% if @listing and @photos %>
			<% # We have a listing to edit so lets show the photos %>
			<% @photos.each do |photo| %>
				<% # The card %>
				<div class="ui card">
					<div class="ui image">
						<% # Get the low res image %>
						<%= image_tag "#{photo.listing_image_path_low_res}", alt: "#{photo.listing_image_id}" %>
						<% # If the image id for this photo is the same as the listings cover image id then add the main image label to it. %>
						<% if photo.listing_image_id == @listing.listing_cover_image_id %>
							<div class="ui add-edit property-card bottom attached label">Main Image</div>
						<% end %>
					</div>
					<% # The Delete Photo button %>
					<div class="add-edit property-card delete">
						<button class="circular ui tiny icon button">
							<i class="remove icon"></i>
						</button>
					</div>	
				</div>
			<% end %>
			<% #Add the card for adding a new photo %>
			<div class="ui add-new-picture card">
				<div class="ui blurring dimmable rounded image">
					<div class="ui dimmer">
						<div class="content">
							<div class="center">
								<div class="ui inverted button">Add Photo</div>
							</div>
						</div>
					</div>
					<%= image_tag "add-photo.png", alt: "Add Photo" %>
				</div>
			</div>
		<% else %>
			<% # We don't have a listing to edit, i.e. we're making a new one %>
			<div class="ui add-new-picture card">
				<div class="ui blurring dimmable rounded image">
					<div class="ui dimmer">
						<div class="content">
							<div class="center">
								<div class="ui inverted button">Add Photo</div>
							</div>
						</div>
					</div>
					<%= image_tag "add-photo.png", alt: "Add Photo" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
