<% 
#   Created: Daniel Swain
#   Date: 06/04/2016
#   
#   Partial erb file used by the index page.
#   
#   Advertising why to sell with us.
#   This contains three center aligned columns, each with an image, header and descriptive text.
#   
#   Todo:
#   	* Update with data Nichola gets from the client   	
# 	
%>
<h1 class="ui header margin-top">Why You Should Sell With Us!</h1>
<div class="ui three column grid margin-top-half">
	<div class="ui column">
		<%= image_tag "sellCircle_1.png", class: "ui centered medium circular image" %>
		<h2 class="ui header sell-red-text margin-top-half">Agents Favourite</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="ui column">
		<%= image_tag "sellCircle_2.png", class: "ui centered medium circular image" %>
		<h2 class="ui header sell-red-text margin-top-half">Be Found Easier</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="ui column">
		<%= image_tag "sellCircle_3.png", class: "ui centered medium circular image" %>
		<h2 class="ui header sell-red-text margin-top-half">Proven Results</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
