<%
#   Created: Daniel Swain
#   Date: 06/04/2016
#   
#   Partial representing the property that will be manigable by the user
#   
#   NB. The comment block is in an erb tag so it's not rendered into html.
 %>

<div class="ui fluid card">
	<div class="ui content">
		<%= content %>
	</div>
</div>