<%
#   Created: Daniel Swain
#   Date: 02/05/2016
#   
#   Partial erb used by the manage status card to allow for the status ribbon to be updated remotely.
#      
#   Local objects:
#   	* listing_id - The listing id
#   	* label - The status label (i.e. Home Open)
#   	* date - The status date
#   	* start_time - The status start time
#   	* end_time - The status end_time
#   	* status_readable - The readable status label (i.e. Home Open: Sun 23rd...)
#   
%>

<% # The simple status ribbon, using local variables %>
<% # Done in a content tag so I can send data information that is needed via the javascript function %>
<%= content_tag :div, class:"ui label sell-red-ribbon manage-status ribbon", id: "launch-modal-#{listing_id}", 
	onclick:"set_up_and_launch_modal(#{listing_id})", data: { listing: listing_id, 
		label: label,
		date: date,
		start: start_time,
		end: end_time } do %>
	<%= status_readable %>
	<div class="detail"><i class="write icon"></i></div>
<% end %>