<%
#   Created: Daniel Swain
#   Date: 04/04/2016
#   
#   Main Manage page template the user will see when they are logged in and have a property.
#   
#   This contains a table whos header is a sticky element fixed to the bottom of the nav bar
#   A table of cards containing each property is shown under the header.
#   
#   Partials:
#   	* manage_property_card: Used to generate each property to be managed
#   
#   Collections:
#   	* @listings: A collection of listings from the database
#   	* @status: The same status for all listings
#   	* @counts: the same counts for all listings
#   	
#   Notes: 
#   	For pagination (infinite-scroll) the amount of listings displayed per page is configured in the listing.rb file in models.
#   
#   Todo:
#   	* Change sort icon to ascending/descending icon default to ???
#   	* Implement sort in ascending and descending order (clicking icon changes sort method between the two)
#   	* Pass actual info to status modals and only change the one selected.
 %>
<div class="ui container nobanner-container sell-top">
	<% # Manage Properties table header%>
	<div class="ui fixed sticky center aligned fluid card manage-table-header manage-properties">
		<div class="content">
			<div class="ui centered middle aligned three column grid">
				<% # Table header %>
				<div class="left floated left aligned column">
					<h1>Manage Your Properties</h1>
				</div>
				<% # Sort Button, eventually clicking the first button will change the filter between ascending and descending %>
				<div class="center aligned column">
					<div class="ui buttons">
						<div class="ui icon button"><i class="filter icon"></i></div>
						<div class="ui drop button">Select Filter</div>
						<div class="ui combo top right pointing dropdown icon button" id="manage-filter">
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item">Comments</div>
								<div class="item">Date Modified</div>
								<div class="item">Expiry</div>
								<div class="item">Popularity</div>
								<div class="item">Views</div>
							</div>
						</div>
					</div>
				</div>
				<% # Add Property Button %>
				<div class="right floated right aligned column">
					<%= link_to new_sell_path, class: "ui right labeled icon button sell-red-button" do  %>
						<%= content_tag(:i, "", class: "plus icon") %>
						Add Your Property
					<% end %>
				</div>
			</div>
		</div>
	</div>
	
	<% # The property listings the user has. Now using infinite scroll%>
	<div class="infinite-table">
		<div class="ui cards">
			<%= render partial: 'sell/manage_property_card', object: @listings %>
		</div>
		<!-- <div class="modals"></div> -->
		<% # The link to the next batch of listings. %>	
		<div class="ui centered grid margin-top">
			<p class="pagination">
				<%= link_to_next_page(@listings, 'Show More Listings', remote: true) %>
			</p>			
		</div>
	</div>
</div>
