//yellow colors
$yellow-primary: #f0d233
$yellow-hover: #ffb70a
//red colors
$red-primary: #e74c3c
$red-primary-hover: #c0392b
$red-secondary: #d64233
$red-saturated: #e36456
//purple colors
$purple-primary: #8e44ad
$purple-secondary: #8840a6
$purple-saturated: #9b59b6
//green colors
$green-primary: #2ecc71
$green-secondary: #12b05c
$green-saturated: #3dd87f
//blue colors
$blue-primary: #0097a7 // I feel this blue doesn't show on the off-white screen very well.
$blue-secondary: #038c9b
$blue-primary-hover: #006B98 // I feel that this is a better blue for links than blue-primary
$blue-grey-contact: #242d34
//grey colors
$grey-primary: #1d2327
$grey-text: #545e63
$grey-primary-hover: #21272b
$grey-blue-primary: #1a2328
$grey-light: #67696b
$grey-lighter: #b1b9bd
$grey-contact: #1d2226
//white colors
$white-primary: #fff
$white-secondary: #ecf3f4
$white-grey: darkgrey
$white-hover: #e0e7e8
$white-hover-secondary: #d4dadb
// Orange Colours
$orange-primary: orange
$orange-secondary: orange
$orange-saturated: orange
//social media colors
$blue-twitter: #55acee
$blue-facebook: #3B5998
$red-gplus: #dd4b39
//transparent
$transparent: rgba(0, 0, 0, 0.0)
