$yellow-primary: #f0d233

$red-primary: red

$purple-primary: purple

$green-primary: #2ecc71
$green-secondary: #12b05c
$green-saturated: #3dd87f

$blue-primary: #0097a7
$blue-secondary: #038c9b

$grey-primary: #1d2327
$grey-blue-primary: #1a2328

$white-primary: #fff
$white-secondary: #ecf3f4
$white-grey: darkgrey
$white-hover: #e0e7e8
$white-hover-secondary: #d4dadb