$yellow-primary: #f0d233

$red-primary: #e74c3c
$red-primary-hover: #c0392b
$red-secondary: #d64233
$red-saturated: #e36456

$purple-primary: purple
$purple-secondary: purple
$purple-saturated: purple

$green-primary: #2ecc71
$green-secondary: #12b05c
$green-saturated: #3dd87f

$blue-primary: #0097a7
$blue-secondary: #038c9b

$grey-primary: #1d2327
$grey-primary-hover: #21272b
$grey-blue-primary: #1a2328

$white-primary: #fff
$white-secondary: #ecf3f4
$white-grey: darkgrey
$white-hover: #e0e7e8
$white-hover-secondary: #d4dadb

$blue-twitter: #55acee
$blue-facebook: #3B5998
$red-gplus: #dd4b39