body
	height: 100%
::-moz-selection
	color: $white-primary
	background: rgba(18, 176, 92, 0.75)
::selection
	color: $white-primary
	background: rgba(18, 176, 92, 0.75)
//star icon
.star
	color: $yellow-primary
//set header on top (Can't go over 100 or it will draw over sidebar)
header
	z-index: 100
// Margin and padding for elements
.margin-top
	margin-top: 2em !important
.margin-top-half
	margin-top: 1em !important
//For pages without a banner! -- Margin for a container to place it under header
.nobanner-container
	margin-top: 8em
// The following fix the footer issues so the footer is on the bottom even if the site has less content
.site
	display: flex
	flex-direction: column
	min-height: 100% // Needs to be % not vh
.site-content
	flex: 1 0 auto
.site-content::after
	content: '\00a0'
	display: block
	height: 0px
	visibility: hidden
	margin-top: 1.5em
//favourite button property page & search results
.fav-property
	border-color: $transparent !important
	i
		color: $grey-lighter
		left: -0.2em !important
		top: 0.3em !important
		font-size: 2em !important
	.favd
		color: $yellow-primary
.fav-property:hover
	border-color: $transparent
	i
		color: darken($grey-lighter, 25%)
		cursor: pointer !important
	.favd
		color: $yellow-hover
//tag labels for property features
.sell-feature-tag,
	background-color: $purple-primary !important
	color: $white-primary !important
.location-feature-tag,
	background-color: $green-primary !important
	color: $white-primary !important
.property-feature-tag,
	background-color: $blue-primary !important
	color: $white-primary !important
.price-feature-tag,
	background-color: $red-primary !important
	color: $white-primary !important
// Fix for dashboard settings sticky z-index putting it over everything in the site
.ui.sticky
	z-index: 101 !important
// Slick carousel override for the ajax-loader.gif
.slick-loading .slick-list
	background: #fff url(image_path('ajax-loader.gif')) center center no-repeat !important
// Sidebar size fix due to fact we're using transitions
.ui.sidebar
	width: 15rem !important
	z-index: 105 // Put sidebar above header and dimmer
// Custom dimmer needed as we're not able to use Semantic-UI's pusher due to it breaking our flex-footer on not full screen pages
.the-dimmer
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	background-color: rgba(0,0,0,.85)
	z-index: 103
