footer
	margin: 0 !important
	height: auto
	margin-top: 5em !important
	width: 100%
	background-color: $grey-blue-primary
	a
		color: $white-primary
	a:hover,
	a:focus
		color: $white-hover
	h5
		color: $white-primary
	p
		color: $white-grey
	.ui.link.list .item
		color: $white-secondary
	.ui.link.list .item:hover
		color: $white-hover-secondary
	.footer-push
		margin-top: 0rem !important
		margin-bottom: 0rem !important