header
	color: white
	height: 60px
	width: 100%
	position: absolute
	top: 0px
	background-color: transparent
	transition: background-color 1s ease
.ui.secondary.pointing.menu
	border-bottom: 0px transparent
.ui.menu .item,
.ui.secondary.pointing.menu .active.item
	color: $white-primary
	border-color: $white-primary
.ui.menu .menu
	text-align: center
a
	color: $white-primary
	font-weight: bold
a:hover,
a:active
	color: $white-hover
.nav-links
	a:not(:first-child)
		padding-left: 20%
		margin-left: 20%
.nav-fixed
	position: fixed
	top: 0px
.nav-fixed.nav-buy
	background-color: $green-primary
.nav-fixed.nav-sell
	background-color: $red-primary
.nav-fixed.nav-dashboard
	background-color: $purple-primary