header
	z-index: 100
	color: $white-primary
	height: 60px
	width: 100%
	padding-top: 0.5em
	top: 0px
	:not(.nav-fixed)
		background-color: transparent
		transition: all 0.4s ease
	.ui.action.input:not([class*="left action"]) > .button
		color: $white-primary
		background-color: $green-primary
	.propertydome-logo
		height: 2.8em
		width: auto
	.ui.secondary.pointing.menu
		border-bottom: 0px transparent
	.ui.menu .item,
	.ui.secondary.pointing.menu .active.item
		font-weight: bolder
		color: $white-primary
		border-color: $white-primary
	.ui.secondary.pointing.menu .active.item
		border-bottom-width: 3px
	.ui.secondary.pointing.menu .item:hover,
	.ui.secondary.pointing.menu .active.item:hover
		color: $white-hover
		border-color: $white-hover
	.ui.menu .menu
		text-align: center
	.ui.secondary.pointing.menu .item
		font-weight: bold
	.ui.secondary.pointing.menu .item:hover
		color: $white-hover
		.item:hover
			color: $white-hover !important
	a:hover,
	a:active
		color: $white-hover
.nav-links
	a:not(:first-child)
		padding-left: 20%
		margin-left: 20%
.nav-fixed
	position: fixed
	top: 0px
.nav-fixed.nav-buy
	background-color: $green-secondary
.nav-fixed.nav-sell
	background-color: $red-secondary
.nav-fixed.nav-dashboard
	background-color: $purple-secondary
.nav-buy
	.alert-badge
		color: $white-primary !important
		padding-right: 1em !important
		background-color: $green-saturated
	.alert-badge:hover
		background-color: $green-primary !important
.nav-sell
	.alert-badge
		color: $white-primary !important
		padding-right: 1em !important
		background-color: $red-saturated
	.alert-badge:hover
		background-color: $red-primary !important
.nav-dashboard
	.alert-badge
		color: $white-primary !important
		padding-right: 1em !important
		background-color: $purple-saturated
	.alert-badge:hover
		background-color: $purple-primary !important
