.loading-anim
	margin-top: 40px
	//text on top of circles
	p
		color: $grey-text
		font-weight: bold
	//3 circles
	ul#progress
		list-style: none
		text-align: center
		margin-right: 42px
		li
			+circle(13px, $grey-lighter)
			display: inline-block
			margin: 2.5px
	//create cirles from mixin, start at 0 scale, set up animation config
	.circle
		+circle(13px, $green-primary)
		-moz-transform: scale(0)
		-webkit-transform: scale(0)
		-moz-animation: loading 3s linear infinite
		-webkit-animation: loading 3s ease-in infinite
	//start first circle at 0.5 delay
	#layer1
		-moz-animation-delay: 0.5s
		-webkit-animation-delay: 0.5s
	//start second circle at 1.5 delay
	#layer2
		-moz-animation-delay: 1.5s
		-webkit-animation-delay: 1.5s
	//start third circle at 2.5 delay
	#layer3
		-moz-animation-delay: 2.5s
		-webkit-animation-delay: 2.5s
	//scale each dot at time intervals, based on delays
	@-moz-keyframes loading
		0%
			-moz-transform: scale(0,0)
		25%
			-moz-transform: scale(1,1)
		30%
			-moz-transform: scale(1,1)
		50%
			-moz-transform: scale(0,0)
		100%
			-moz-transform: scale(0,0)
	@-webkit-keyframes loading
		0%
			-webkit-transform: scale(0,0)
		25%
			-webkit-transform: scale(1,1)
		30%
			-webkit-transform: scale(1,1)
		50%
			-webkit-transform: scale(0,0)
		100%
			-webkit-transform: scale(0,0)