.loading-anim
	margin-top: 40px
	//text on top of circles
	p
		color: $grey-text
		font-weight: bold
	//3 circles
	ul#progress
		list-style: none
		text-align: center
		margin-right: 42px
		li
			+circle(13px, $grey-lighter)
			display: inline-block
			margin: 2.5px
	//create cirles from mixin, start at 0 scale, set up animation config
	.circle
		+circle(13px, $green-primary)
		-moz-transform: scale(0)
		-webkit-transform: scale(0)
		transform: scale(0)
		-moz-animation: loading 2s infinite ease-in-out both
		-webkit-animation: loading 2s infinite ease-in-out both
		animation: loading 2s infinite ease-in-out both
	//start first circle at 0.5 delay
	#layer1
		-webkit-animation-delay: -0.8s
		-moz-animation-delay: -0.8s
		animation-delay: -0.8s
	//start second circle at 1.5 delay
	#layer2
		-webkit-animation-delay: -0.4s
		-moz-animation-delay: -0.4s
		animation-delay: -0.4s
	//scale each dot at time intervals, based on delays
	@-moz-keyframes loading
		0%, 80%, 100%
			-moz-transform: scale(0)
		40%, 52%
			-moz-transform: scale(1.0)
	@-webkit-keyframes loading
		0%, 80%, 100%
			-webkit-transform: scale(0)
		40%, 52%
			-webkit-transform: scale(1.0)
	@keyframes loading
		0%, 80%, 100%
			-webkit-transform: scale(0)
			transform: scale(0)
		40%, 52%
			-webkit-transform: scale(1.0)
			transform: scale(1.0)