<section class="contact-container">
	<h1 id="welcome">Get In Touch</h1>
	<div class="ui horizontal segments">
		<div id="contact-section-1" class="ui segment">
			<div class="ui inverted form">
				<div class="ui inverted segment">
				<h1>Send a Message</h1>
					<div class="fields">
						<div class="two wide field">
							<label>First Name</label>
							<input placeholder="First Name" type="text">
						</div>
						<div class="two wide field">
							<label>Last Name</label>
							<input placeholder="Last Name" type="text">
						</div>
					</div>
					<div class="four wide field">
						<label>Email</label>
						<input placeholder="Email" type="text">
					</div>
					<div class="four wide field">
					<label>Subject</label>
						<select>
							<option value="0">General Enquiry</option>
							<option value="1">Report Bug</option>
							<option value="2">Something Else</option>
						</select>
					</div>
					<div class="eight wide field">
						<label>Text</label>
						<textarea></textarea>
					</div>
					<div class="ui submit button">Submit</div>
				</div>
			</div>
		</div>
		<div id="contact-section-2" class="ui segment">
			<div class="ui inverted segment">
				<h1>Contact Information</h1>
				<p>Email:</p>
				<p>contact@propertydome.com</p>
				<p>Phone:</p>
				<p>(12)345 678 90</p>
			</div>
		</div>
	</div>
</section>