<section class="contact-container">
	<h1 id="welcome">Get In Touch</h1>
	<div class="ui grid nice">
		<div id="contact-section-1" class="eight wide column">
			<form class="ui inverted form">
				<h1>Send a Message</h1>
				<div class="fields">
					<div class="six wide field required field">
						<label>First Name</label>
						<input placeholder="John" name="first-name" type="text">
					</div>
					<div class="six wide field">
						<label>Last Name</label>
						<input placeholder="Smith" name="last-name" type="text">
					</div>
				</div>
				<div class="twelve wide field required field">
					<label>Email</label>
					<input placeholder="Email" id="email" name="email" type="text">
					<h2 id="result"></h2>
				</div>
				<div class="twelve wide field required field">
				<label>Subject</label>
					<select>
						<option value="0">General Enquiry</option>
						<option value="1">Report Bug</option>
						<option value="2">Something Else</option>
					</select>
				</div>
				<div class="sixteen wide field required field">
					<label>Text</label>
					<textarea placeholder="Write in here to send us your thoughts" name="message" type="text"></textarea>
				</div>
				<button class="ui submit button contact-submit-button">
					<i class="checkmark icon"></i>
					Submit
				</button>
				<div class="ui error message"></div>
			</form>
		</div>
		<div id="contact-section-2" class="eight wide column">
			<h1>Contact Information</h1>
			<p>Email:</p>
			<p>contact@propertydome.com</p>
			<p>Phone:</p>
			<p>(12)345 678 90</p>

			<div class="ui three wide center aligned column">
				<button class="ui big circular facebook icon button">
					<i class="facebook icon"></i>
				</button>
				<button class="ui big circular twitter icon button">
					<i class="twitter icon"></i>
				</button>
				<button class="ui big circular google plus icon button">
					<i class="google plus icon"></i>
				</button>
			</div>
		</div>
	</div>
</section>