<%
#   Created by: Simon Lehmann & Daniel Swain
#   Date: 20/04/2016
#   
#   The password change email message
#
#   This will be sent to the address of the user
%>

<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
