<footer>
	<div class="ui center aligned container">
		<div class="ui centered three column grid">
			<div class="left floated middle aligned left aligned column">
				<h5>About Us</h5>
				<p>This is a realestate website, we allow our users to buy and sell properties in the best way possible.</p>
			</div>
			<div class="ui center aligned middle aligned column">
				<h5>Social Media</h5>
				<button class="ui big circular facebook icon button">
					<i class="facebook icon"></i>
				</button>
				<button class="ui big circular twitter icon button">
					<i class="twitter icon"></i>
				</button>
				<button class="ui big circular google plus icon button">
					<i class="google plus icon"></i>
				</button>
			</div>
			<div class="right floated middle aligned right aligned column">
				<h5>Additional Links</h5>
				<div class="ui link list">
					<a class="item">Contact Us</a>
					<a class="item">Privacy Policy</a>
					<a class="item">Terms and Conditions</a>
					<a class="item">Meet the Team</a>
				</div>
			</div>
		</div>
	</div>
</footer>