<section class="ui center aligned container loading-anim">
	<p>loading more</p>
	<ul id="progress">
		<li>
			<div id="layer1" class="circle"></div>
		</li>
		<li>
			<div id="layer2" class="circle"></div>
		</li>
		<li>
			<div id="layer3" class="circle"></div>
		</li>
	</ul>
</section>