<% 
#   Created: Daniel Swain
#   Date: 23/04/2016
#   
#   A duplicate of the _loading.html.erb partial. It uses the same _loading-anim.sass file to get it's animations.
#   
#   NB. this file is used in sell/manage.html.erb and has an overide assigned their for the top margin (which defaults to 40px)
%>
<section class="ui center aligned container loading-anim">
	<ul id="progress">
		<li>
			<div id="layer1" class="circle"></div>
		</li>
		<li>
			<div id="layer2" class="circle"></div>
		</li>
		<li>
			<div id="layer3" class="circle"></div>
		</li>
	</ul>
</section>
